body {
    background-color: black;
}

#choice-box {
    background: #333;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

#choice-container {
    background-color: rgba(145, 134, 134, 0.206);
    padding: 50px;
    margin: 30%;
    border-radius: 25px;
    display: grid;
    place-items: center;
}

#game-over-modal-body {
    text-align: center;
    justify-content: center;
}

#game-over-modal-header, #game-over-modal-footer {
    text-align: center;
    justify-content: center;
    border: 0;
}

#initial-choice-overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.8);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 1;
    visibility: visible;
}

#initial-choice-overlay, .game-board-container, .keyboard-container {
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

#initial-choice-overlay.fade-out {
    opacity: 0;
    visibility: hidden;
}

#message {
    display: none;
    background-color: white;
    position: fixed;
    top: 60px;
    left: 50%;
    padding: 4px;
    transform: translateX(-50%);
}

.keyboard-container {
    opacity: 0;
    visibility: hidden;
}

.keyboard-container-middle {
    margin: 3px;
}

.cell, .demo-cell {
    width: 60px;
    height: 60px;
    border: 2px solid rgb(74, 72, 72);
    border-radius: 4px;
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
}

.game-board-container {
    display: grid;
    place-items: center;
    margin-top: 20px;
    opacity: 0;
    visibility: hidden;
}

.keyboard-container.fade-in, .game-board-container.fade-in, .initial-choice-overlay.fade-in {
    opacity: 1;
    visibility: visible;
}

.larger-btn {
    width: 80px;
    font-size: 1.25em;
    border-radius: 4px;
    height: 67px;
    font-weight: bold;
    margin: 3px;
    justify-content: center;
    text-align: center;
    padding: 0;
}

.letter-btn {
    font-size: 1.25em;
    border-radius: 4px;
    height: 67px;
    width: 50px;
    font-weight: bold;
    margin: 3px;
    justify-content: center;
    text-align: center;
    padding: 0;
}

.pick-letters {
    align-items: center;
}

.pick-letters-buttons {
    justify-content: center;
    display: flex;
}

.pick-btn {
    width: 100px;
    margin: 5px;
}

.row-lg {
    width: 360px;
    height: 60px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.row-md, .demo-row {
    width: 300px;
    height: 60px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.almost {
    background-color: rgba(255, 221, 0, 0.764);
}

.right {
    background-color: rgb(5, 92, 57);
}

.wrong {
    color: rgb(81, 73, 73);
}

@media (max-width: 520px) {
    #choice-container {
        margin: 10%;
    }

    .letter-btn {
        font-size: 1em;
        height: 58px;
        margin: 1.5px;
        width: 9vw;
    }

    .larger-btn {
        width: 10vw;
        height: 58px;
        margin: 1.5px;
    }
}
